*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

#logo{
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    height: auto;
    margin: 1rem;
    width: 10rem;
}

footer img{
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    width: 75px;
    height: auto;
}

#links{
    padding-top: 5px;
    text-align: center;
    color: black;
    font-size: 14px;
}

footer a{
    color: black;
}

footer a:hover{
    color: darkblue;
    background-color: white;
}

#signature{
    padding-top: 5px;
    text-align: center;
    color: black;
    font-size: 12px;
}

#banner {
    display: none;
    margin-top: 0;
    background-color: #FFB703;
    text-align: center;
    padding: 0.5em;
}

/* phone or baseline views **************************/
header {
    background-color: #3592f0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: .75rem;
    border: 1px solid gray;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.headings{
    color: black;
}

.navigation li:first-child {
    display: block;
    flex: 1 1 100%;
}

.navigation li{
    display: none;
}

.responsive li{
    display: block;
}

footer{
    background-color: #3592f0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: .75rem;
    border: 1px solid gray;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

header, main, footer{
    margin: 0 auto;
}

h1{
    font-size: 1.1rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

h2{
    color:blue;
}
h1, h2, h3, h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1em;
}

p{
    font-family: Helvetica, Arial, sans-serif;
    padding: .1em;
}

nav{
    background-color: #e39a27;
    margin: 0 auto;
}

header a{
    padding: 0.5em;
}

header img{
    height: 25px;
    width: auto;
}

nav ul li a {
    display: block;
    color: #000080;
    text-align: center;
    padding:  0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}

nav a:hover{
    color: white;
    background-color: darkblue;
}

.active{
    color: Black;
}

main{
    display: grid;
    font-size: 0.8rem;
}

main article {
    margin: 1rem;
    border: 1px solid gray;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
}

#firstspot {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0.5em;
}

#secondspot {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0.5em;
}

#thirdspot {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0.5em;
}

#thirdspot {
    display: none;
}

#join {
    display: none;
}

main img {
    width: 80%;
    height: auto;
    margin: 1rem;
}

footer p {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colors{
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
}
.colors th {
    background-color: #999;
}
.colors td{
    width: 25%;
    height: 3em;
}
.primary {
    background-color: #3592F0;
}
.secondary {
    background-color: #023047;
}
.accent1 {
    background-color: #E39A27;
}
.accent2 {
    background-color: #FFB703;
}